body
{
  background-color: rgb(247, 247, 247) !important;
  overflow: hidden;
}

/* Set the size of the div element that contains the map */
#map 
{
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}

.navbar
{
  background-color: white;
  width: 22vh;
  min-height: 105vh;
  position: absolute;
  left: -0.1vh;
  top: -0.1vh;
}

.navbar ul
{
  position: absolute;
  top: 10%;
}

.navbar li
{
  background-color: none;
  text-align: center;
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(219, 219, 219);
  list-style: none;
  margin-bottom: 2.5vh;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
}

.navbar li:hover
{
  background-color: #00BBF9;
  color: white;
  transition: all .5s linear;
}

.navbar a
{
  text-decoration: none;
}

.navbar ion-icon
{
  margin-right: 10px;
  font-size: 26px;
}

.navbar span
{
  font-size: 14px;
}

#dashboardLbl
{
  position: absolute;
  top: 15px;
  left: 48px;
  color: rgb(78, 77, 77);
  font-size: 30px;
}

#linebreaker
{
  border: 1px solid rgb(225, 225, 225);
  padding-left: 9vh;
  padding-right: 9vh;
  margin-top: 2.5vh;
  position: absolute;
  top: 50px;
  left: 11px;
}

#about
{
  position: absolute;
  top: 84vh;
  left: 21px;
  background-color: rgb(202, 202, 202);
  color: white;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#about ion-icon
{
  color: white;
}

#otherLbl
{
  color: rgb(78, 77, 77);
  font-weight: bold;
  font-size: 16px;
}

#boardLbl
{
  color: #00BBF9;
}