<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ISSTracker - Settings</title>
    <link rel="stylesheet" href="../settings.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body>

    <div class="container-fluid">
        <div class="row">
          <div class="col-md-4">
            <div class="navbar shadow shadow-md">
              <h1 id="dashboardLbl">ISS<i><span id="boardLbl">TRACKER</span></i></h1>
              <div id="linebreaker"></div>
              <ul>
                <a href="/">
                  <li>
                    <span><ion-icon name="navigate-outline"></ion-icon></span>
                    <span>Dashboard</span>
                  </li>
                </a>
                <a href="/settings">
                  <li>
                    <span><ion-icon name="settings-outline"></ion-icon></span>
                    <span>Settings</span>
                  </li>
                </a>
        
                <p id="otherLbl">Other</p>
                <a href="/about">
                  <li id="about">
                    <span><ion-icon name="earth-outline"></ion-icon></span>
                    <span>About</span>
                  </li>
                </a>
                <a href="/bug/report">
                  <li>
                    <span><ion-icon name="bug-outline"></ion-icon></span>
                    <span>Bug Report</span>
                  </li>
                </a>
              </ul>
            </div>
          </div>
        </div>
      </div>


    <div class="container col-4" id="editAPI">
        <form action="/settings" id="apiForm" method="POST">
            <div class="form-group" id="inputs">
                <span><ion-icon name="key-outline"></ion-icon></span>
                <input type="password" class="form-control" placeholder="Enter API Key" name="apiKey" id="apiKey">
            </div>
            <small id="apiHelp" class="form-text text-muted">The API Key is used to launch the map.</small>
            <a href="https://developers.google.com/maps" id="getAPILink" target="_blank">Get API Key</a>

            <input type="submit" value="Save" class="btn btn-primary px-5" id="saveBtn">
        </form>
    </div>


    <div class="container col-2 shadow shadow-md" id="settingsGroup">
        <h1>Settings<i><span id="colorSpan">ISSTRACKER</span></i></h1>
        
        <ul>
            <a href="/settings">
                <li>
                    <span><ion-icon name="code-slash"></ion-icon></span>
                    <span>API</span>
                </li>
            </a>

            <div id="themeSetting">
                <span id="themeIcon"><ion-icon name="sunny-outline"></ion-icon></span>
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
            </div>

            <a href="/" id="backToDashboard">
                <li>
                    <span><ion-icon name="arrow-undo-outline"></ion-icon></span>
                    <span id="backBtn">Back</span>
                </li>
            </a>
        </ul>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>